﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p style="font:bold;color:red">This is My Frist .NET Core Application</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Liufeihong</td>
            <td>168563</td>
        </tr>
        <tr>
            <td>Hello</td>
            <td>4444444444</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>